body {
  font-family: Helvetica, Arial;
  background-color: white;
  width: 95%;
  margin: 5px auto 0 auto;
  padding: 0;
}
h1, p {
  margin: 0;
}

/* global navbar layout */
.navbar_container {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0;
  position: relative;
}
.large_navbar {
  /* display: inline; */
  display: inline;
  position: absolute;
  top: 25%;
  padding: 0;
  list-style-type: none;
}
.navbar_container li {
  display: inline;
  margin: 0 20px;
  font-size: 1.6em;
}
.navbar_container a {
  color: black;
  text-decoration: none;
}
.riki_pfp {
  height: 100px;
  width: auto;
  border-radius: 20px;
}

/* mobile navbar */
.navbar_icon {
  height: auto;
  width: 1.3em;
}
.icon_navbar {
  display: none;
  position: absolute;
  margin: 0;
  width: calc(100% - 100px);
  top: 25%;
  padding: 0;
  list-style-type: none;
}
@media screen and (width < 900px) {
  .navbar_container {
    height: 70px;
  }
  .navbar_container li {
    margin: 0 10px;
  }
  .riki_pfp {
    height: 70px;
    border-radius: 10px;
  }
  .icon_navbar {
    display: inline;
  }
  .large_navbar {
    display: none;
  }
}

/* home page */
.between_line {
  border-top: 3px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home_about {
  text-align: center;
  margin: 0;
  overflow: hidden;
}
.home_about div {
  margin-bottom: 10px;
}
.home_image {
  width: 30%;
  height: auto;
  border-radius: 2%;
  margin-left: 20px;
}
.home_post {
  text-align: center;
  margin: 0;
  overflow: hidden;
}
.home_post figure {
  width: 80%;
  margin: 0 auto;
  border-radius: 2%;
  margin-top: 10px;
}
/* mobile */
@media screen and (width < 900px) {
  .home_about {
    text-align: center;
  }
  .home_image {
    width: 70%;
  }
  .home_image:nth-child(2), .home_image:nth-child(3) {
    display: none;
  }
  .home_post figure {
    width: 70%;
  }
}

















/* footer */
.footer_container {
  text-align: center;
  margin-bottom: 10px;
}